<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<main>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
    <div class="container">
        <div class="col-md-12 d-flex flex-column bg-error mb-3">
            <h2 class="text-center text-white mt-5"> This is awkward!</h2>
            <hr style="width: 50%"/>
            <h4 class="text-center text-white mt-5">Apparently this page took the day off to feed its addiction to cars.</h4>
            <h4 class="text-center text-white mt-5">We are sorry about that! </h4>
        </div>
    </div>
</main>
</body>
</html>
