<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<main class="main">
    <nav class="navbar navbar-expand-lg navbar-background">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
    <div class="container-fluid">
        <h2 class="text-center text-white ">Drivinci Car Dealership</h2>
        <hr style="width: 50%"/>
        <h4 class="font-italic text-center text-white ">
            By clicking the buttons below you can check our car deals or upload a
            brand new.
        </h4>
        <br/>
        <div class="text-center">
            <a class="btn btn-secondary text-center mr-4" href="/">Upload Offer</a>
            <a class="btn btn-secondary text-center ml-4" href="/">All Offers</a>
        </div>
    </div>
</main>
</body>
</html>
